{# ========================================================================= #}
{#                          PROJECT BASE JS LIBRARIES                        #}
{# ========================================================================= #}

{% load staticfiles %}

<!-- ====================================================================== -->
<!-- ================================ LIBS ================================ -->
<!-- ====================================================================== -->

<!-- ---------------------------------- -->
<!-- SCRIPTS                            -->
<!-- ---------------------------------- -->
<script src="{% static 'app/js/app.js' %}" type="text/javascript"></script>


<!-- ---------------------------------- -->
<!-- JQUERY AND POPPER                  -->
<!-- ---------------------------------- -->
<script src="{% static 'libs/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/popper/popper.min.js' %}" type="text/javascript"></script>


<!-- ---------------------------------- -->
<!-- BOOTSTRAP                          -->
<!-- ---------------------------------- -->
<script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>