{# ========================================================================= #}
{#                       PROJECT BASE CSS LIBRARIES                          #}
{# ========================================================================= #}

{% load staticfiles %}

<!-- ====================================================================== -->
<!-- ================================ LIBS ================================ -->
<!-- ====================================================================== -->


<!-- ---------------------------------- -->
<!-- BOOTSTRAP                          -->
<!-- ---------------------------------- -->
{#<link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">#}
<link rel="stylesheet" href="{% static 'libs/bootstrap/themes/bootstrap-lightgrey.min.css' %}">

<!-- ---------------------------------- -->
<!-- FONTAWSOME                         -->
<!-- ---------------------------------- -->
{#<link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">#}
<link rel="stylesheet" href="{% static 'libs/fontawesome/css/all.min.css' %}">

<!-- ---------------------------------- -->
<!-- APP STYLES                         -->
<!-- ---------------------------------- -->
<link rel="stylesheet" href="{% static 'app/css/app.css' %}">
