{# ========================================================================= #}
{#                           PROJECT BASE HEADER                             #}
{# ========================================================================= #}

<header>
{# ========================================================================= #}
{# NAVBAR                                                                    #}
{# ========================================================================= #}
{% include "app/app_navbar.html" %}




</header>
