{# ========================================================================= #}
{#                           PROJECT BASE TEMPLATE                           #}
{# ========================================================================= #}

{% load staticfiles %}



<!doctype html>
<!-- ====================================================================== -->
<!--                         INDEX FOR APPLICATION	                        -->
<!-- ====================================================================== -->





<html>
<!-- ====================================================================== -->
<!-- ================================ HEAD ================================ -->
<!-- ====================================================================== -->
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="YOYOWORKOUT">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

{# ========================================================================= #}
{# CSS LIBRARIES                                                             #}
{# ========================================================================= #}
{% include "app/app_libs_css.html" %}    
    

    
    <title>{% block title %} Application .... {% endblock %}</title>
    
</head>
<!-- ====================================================================== -->
<!-- ================================ BODY ================================ -->
<!-- ====================================================================== -->
<body>

{# ========================================================================= #}
{# HEADER                                                                    #}
{# ========================================================================= #}
{% include "app/app_header.html" %}     




{# ========================================================================= #}
{# CONTENT                                                                   #}
{# ========================================================================= #}

{% block content %}
<div class="container">
<h1>Welcome ...</h1>

<br><br>
</div>
{% endblock %}


{# ========================================================================= #}
{# FOOTER                                                                    #}
{# ========================================================================= #}
{% include "app/app_footer.html" %}  







{# ========================================================================= #}
{# JS LIBRARIES                                                              #}
{# ========================================================================= #}
{% include "app/app_libs_js.html" %}  


<!-- ====================================================================== -->
<!-- ================================ END  ================================ -->
<!-- ====================================================================== -->
</body>
</html>
