{# ========================================================================= #}
{#                                  ERROR 404                                #}
{# ========================================================================= #}

{% load staticfiles %}


<!doctype html>
<html lang="en">
<!-- ====================================================================== -->
<!-- ================================ HEAD ================================ -->
<!-- ====================================================================== -->
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="description" content="">
    <meta name="author" content="YOYOWORKOUT">


<!-- ---------------------------------- -->
<!-- STYLES                             -->
<!-- ---------------------------------- -->
<link rel="stylesheet" href="{% static 'app/css/app.css' %}">
    
    <title>OMG ...</title>
    
    
</head>
<!-- ====================================================================== -->
<!-- ================================ BODY ================================ -->
<!-- ====================================================================== -->
<body>
    
    <div class="container">
        <h1>OMG .... not found!</h1>
    </div>

{# ========================================================================= #}
{# LIBRARIES                                                                 #}
{# ========================================================================= #}

{% include "app/app_libs.html" %}  


<!-- ====================================================================== -->
<!-- ================================ END  ================================ -->
<!-- ====================================================================== -->
</body>
</html>
