/* ================================================================ */
/*                             USER CSS                             */
/* ================================================================ */


/* SECTIONS :
==============================
     -> GLOBAL
     -> HEADINGS
     -> LISTS
     -> TABLES
     -> LAYOUTS
     -> NAVIGATION
     -> FORMS
     -> TEXT
     -> IMAGES
     -> OTHERS
*/




/* ================================================================ */
/*                              GLOBAL                              */
/* ================================================================ */


/* ================================================================ */
/*                            HEADINGS                              */
/* ================================================================ */


/* ================================================================ */
/*                              LISTS                               */
/* ================================================================ */


/* ================================================================ */
/*                             TABLES                               */
/* ================================================================ */


/* ================================================================ */
/*                            LAYOUTS                               */
/* ================================================================ */


/* ================================================================ */
/*                           NAVIGATION                             */
/* ================================================================ */


/* ================================================================ */
/*                              FORMS                               */
/* ================================================================ */
.my-wdth-320 {
    width: 320px !important;
}
.my-wdth-240 {
    width: 240px !important;
}
.my-wdth-200 {
    width: 200px !important;
}
.my-wdth-120 {
    width: 120px !important;
}
.my-wdth-80 {
    width: 80px !important;
}


/* ================================================================ */
/*                             CONTENT                              */
/* ================================================================ */


/* ================================================================ */
/*                              IMAGES                              */
/* ================================================================ */


/* ================================================================ */
/*                              OTHERS                              */
/* ================================================================ */




